[Unit]
Description=Flask App Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/flaskapp
Environment="PATH=/var/www/flaskapp/venv/bin"
ExecStart=/opt/venv/bin/python /var/www/flaskapp/app.py

Restart=always

[Install]
WantedBy=multi-user.target
